main{
  padding: 60px 0; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.board-row{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.board-block{
  width: 62px;
  height: 62px;
  border: 2px solid #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}


.gray{
  background-color: #787c7e;
  color: white;
}

.green{
  background-color: #6aaa64;
  color: white;
}

.yellow{
  background-color: #c9b458;
  color: white;
}


.gameover::after{
  content: '';
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 60px;
  font-weight: bold;
  animation: backgroundColor 2s ease-in-out;
  position: absolute;
  top: 0;
  
}

@keyframes backgroundColor {
  0%{
    content: 'over';
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #787c7e;
  }
  50%{
    background-color: #c9b458;
  }
  100%{
    background-color: #6aaa64;
  }
}